# Optional. Only needed to enforce a device limit per license code (e.g.
# "this subscription can only be active on 2 devices at once"). Without
# these, activation works exactly as before — signature + expiry only, no
# device limit.
#
# Get these from your Supabase project after running
# license-admin/supabase/schema.sql (Dashboard -> Project Settings -> API):
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
